{load href="__STATIC__/css/cityLayout.css" /}
{load href="__STATIC__/js/cityselect.js" /}
<div class="layui-container">
    <div class="layui-row">
        <span class="layui-breadcrumb">
            {if condition="$Request.action eq 'index'"}
            <a><cite>库房管理</cite></a>
            {else/}
            <a href={:url('/warehouse')}>库房管理</a>
            {/if}
            {if condition="$Request.action eq 'create'"}
            <a><cite>新增库房</cite></a>
            {/if}
            {if condition="$Request.action eq 'edit'"}
            <a><cite>编辑库房</cite></a>
            {/if}
        </span>
    </div>
    <div class="layui-row" style="margin-top:20px;">